<ion-content>
  

  <!-- <img src="../../../assets/esqueci.svg">

  <p class="titulo1">
    Esqueceu sua senha?
    Digite abaixo o e-mail que receberá um código para
    ser criada um nova senha.
  </p>

  <input class="mb-30" type="email" placeholder="E-mail de recuperação">

  <ion-row>
    <ion-col size="6" class="no-centro-dentro">
      <ion-button>
        Enviar
      </ion-button>
    </ion-col>

    <ion-col size="6" class="no-centro-dentro">
      <ion-button routerLink="/login" fill="clear" class="voltar">
        Voltar
      </ion-button>
    </ion-col>
  </ion-row> -->

  <!--  CODIGO DO E-MAIL -->
  <div class="div-input-code">

    <!-- 1 -->
    <input id="codeNumber1" class="input-code" type="text" inputmode="numeric" 
      maxlength="1" minlength="1" 
      [(ngModel)]="codeNumber1" (keyup)="nextNumber($event)">

    <!-- 2 -->
    <input id="codeNumber2" class="input-code" type="text" inputmode="numeric" 
      maxlength="1" minlength="1" 
      [(ngModel)]="codeNumber2" (keyup)="nextNumber($event)">

    <!-- 3 -->
    <input id="codeNumber3" class="input-code" type="text" inputmode="numeric" 
      maxlength="1" minlength="1" 
      [(ngModel)]="codeNumber3" (keyup)="nextNumber($event)">

    <!-- 4 -->
    <input id="codeNumber4" class="input-code" type="text" inputmode="numeric" 
      maxlength="1" minlength="1" 
      [(ngModel)]="codeNumber4" (keyup)="nextNumber($event)">

    <!-- 5 -->
    <input id="codeNumber5" class="input-code" type="text" inputmode="numeric" 
      maxlength="1" minlength="1" 
      [(ngModel)]="codeNumber5" (keyup)="nextNumber($event)">

    <!-- 6 -->
    <input id="codeNumber6" class="input-code" type="text" inputmode="numeric" 
      maxlength="1" minlength="1" 
      [(ngModel)]="codeNumber6" (keyup)="nextNumber($event)">

      
  </div>

  <div id="buttons-code">

    <ion-row>
      <ion-col size="12" class="no-centro-dentro">
        <ion-button>
          Confirmar
        </ion-button>
      </ion-col>
      <ion-col size="12" class="no-centro-dentro">
        <ion-button  fill="clear" class="voltar">
          Enviar 
          novamente
        </ion-button>
      </ion-col>
    </ion-row>

  </div>
  

</ion-content>
