img
{
    display: block;
    width: 82%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px
}
p
{
    margin-top: 40px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
input
{
    margin-top: 50px;
}
ion-button.voltar
{
    --background: transparent;
}