img
{
    display: block;
    width: 82%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px
}
p
{
    margin-top: 40px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
input
{
    margin-top: 50px;
}
ion-button
{
    --border-radius: 0;
    --padding-bottom: 22px;
    --padding-top: 22px;
    --padding-end: 42px;
    --padding-start: 42px;
    --background: var(--ion-color-verde1);
    --color: var(--icon-color-branco1);
    font-weight: bold;
    font-size: 14px;
    text-transform: capitalize;
}
ion-button.voltar
{
    --background: transparent;
}

// INPUT DOS CODIGOS
.div-input-code
{
    display: flex !important;
    justify-content: center;
}
.input-code
{
    margin-top: 100px !important;
    width: 10% !important;
    padding-left: 0 !important;
    margin-left: 1% !important;
    margin-right: 1% !important;
    text-align: center;
}
#buttons-code
{
    width: 100%;
    margin-top: 70px;
}