.svg-play
{
    width: 85%;
    height: auto;
    margin-bottom: 3em;
}
.div_input
{
    margin-top: 3em;
}
ion-button
{
    --border-radius: 0;
    --padding-bottom: 22px;
    --padding-top: 22px;
    --padding-end: 42px;
    --padding-start: 42px;
    --background: var(--ion-color-verde1);
    --color: var(--icon-color-branco1);
    font-weight: bold;
    font-size: 14px;
    text-transform: capitalize;
}
.btn_nav_cadastro
{
    --background: transparent;
}
.esqueci
{
    margin-top: 3em;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: var(--ion-color-cinza1);
}

