<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Preferencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-item>
    <ion-label slot="start">
      Promoções
    </ion-label>
    <ion-toggle id="promocoes"
    [checked]="promocoesToggle" (ionChange)="sendNotifications($event)" 
    slot="end"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label slot="start">
      Novos produtos
    </ion-label>
    <ion-toggle id="novidades"
    [checked]="novidadesToggle" (ionChange)="sendNotifications($event)"
    slot="end"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label slot="start">
      Atualizações
    </ion-label>
    <ion-toggle id="atualizacoes"
    [checked]="atualizacoesToggle" (ionChange)="sendNotifications($event)"
    slot="end"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label slot="start">
      Pedidos
    </ion-label>
    <ion-toggle id="pedidos"
    [checked]="pedidosToggle" (ionChange)="sendNotifications($event)"
    slot="end"></ion-toggle>
  </ion-item>
</ion-content>
