<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Termos Servicos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h2>TÍTULO 1</h2>
  <p>
    Lorem ipsum dolor sit amet. Vel voluptatum impedit ut reprehenderit magni hic aliquid molestias ut rerum quidem sit quas voluptatibus et quia voluptatem. Vel enim nisi id voluptas incidunt eum quam recusandae ex sunt minus eos tenetur voluptas et voluptatem voluptates ut unde quasi! Eos tempora rerum et modi iste et quaerat quasi et galisum tempore.
  </p>

  <h2>TÍTULO 2</h2>
  <p>
    Lorem ipsum dolor sit amet. Vel voluptatum impedit ut reprehenderit magni hic aliquid molestias ut rerum quidem sit quas voluptatibus et quia voluptatem. Vel enim nisi id voluptas incidunt eum quam recusandae ex sunt minus eos tenetur voluptas et voluptatem voluptates ut unde quasi! Eos tempora rerum et modi iste et quaerat quasi et galisum tempore.
  </p>
</ion-content>
