<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Carrinho</ion-title>

    <div *ngIf="checkCarrinho == 1"
    class="numero-items" slot="end">
      <p>Itens:</p>
      <p>3</p>
    </div>
  </ion-toolbar>
</ion-header>



<ion-content>


  <ion-row *ngIf="checkCarrinho == 1">

    <ion-col size="6">

      <div class="card-item">
        <img class="img-item" src="../../../assets/CAIXA_DE_SOM_1.png">
        <p class="pruduto-item">
          Caixa de som
        </p>
        <p class="preco-item">
          R$ 338,99
        </p>
        <div class="meu_grid">
          <ion-label>
            <ion-button fill="clear">
              <ion-icon class="remove-item" name="remove"></ion-icon>
            </ion-button>
          </ion-label>

          <ion-label class="quantidade-item">2</ion-label>

          <ion-label>
            <ion-button fill="clear">
              <ion-icon class="add-item" name="add"></ion-icon>
            </ion-button>
          </ion-label>
        </div>
      </div>

    </ion-col>


    <ion-col size="6">

      <div class="card-item">
        <img class="img-item" src="../../../assets/NOTEBOOK_1.png">
        <p class="pruduto-item">
          Notebooke Gamer
        </p>
        <p class="preco-item">
          R$ 7,499,99
        </p>
        <div class="meu_grid">
          <ion-label>
            <ion-button fill="clear">
              <ion-icon class="remove-item" name="remove"></ion-icon>
            </ion-button>
          </ion-label>

          <ion-label class="quantidade-item">1</ion-label>

          <ion-label>
            <ion-button fill="clear">
              <ion-icon class="add-item" name="add"></ion-icon>
            </ion-button>
          </ion-label>
        </div>
      </div>

    </ion-col>
  </ion-row>

  <!-- ---- LAYOUT SEM LOGIN ---- -->

  <div *ngIf="checkCarrinho == 0">

    <img class="svg_compras no-centro-dentro" src="../../../assets/SVG_COMPRAS.png" alt="">

    <h2 class="titulo1">
      Seu o carrinho está vazio
    </h2>

  </div>

</ion-content>



<ion-footer *ngIf="checkCarrinho == 1">

  <ion-toolbar>
    <h1>
      Total: <b>7.838,98</b>
    </h1>
  </ion-toolbar>

  <button routerLink="/pagamento">
    PAGAR
  </button>
</ion-footer>