<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dois fatores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item>
      <ion-label slot="start">
        E-mail
      </ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label slot="start">
        Telefone
      </ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label slot="start">
        Imprenssão digital
      </ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>


</ion-content>
