<ion-content>

  <div class="nome-com-icone">
    
    <div class="icone">
      <ion-avatar>
          <img src="https://images.pexels.com/photos/185481/pexels-photo-185481.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" />
      </ion-avatar>
    </div>

    <h1 class="nome">Roberta Careta</h1>
  </div>

  <ion-item>
    <ion-col size="5">
    </ion-col>

        <ion-text routerLink="/login" class="btn-logout">
          Sair
        </ion-text>

    <ion-col size="5">
    </ion-col>
  </ion-item>
      

  <h6 style="margin-left: 1em;">Informações de Usuario</h6>

  <ion-item button (click)="mudarInfoGerais()" routerLink="/info-pessoais">
    <ion-label>Gerais </ion-label>
    <ion-icon slot="end" name="chevron-forward"></ion-icon>
  </ion-item>

  <ion-item button (click)="mudarEmail()" routerLink="/email">
    <ion-label>Email </ion-label>
    <ion-icon slot="end" name="chevron-forward"></ion-icon>
  </ion-item>

  <ion-item button (click)="mudarSenha()" routerLink="/senha">
    <ion-label>Senha </ion-label>
    <ion-icon slot="end" name="chevron-forward"></ion-icon>
  </ion-item>

  <ion-item button (click)="mudarChave()" routerLink="/dois-fatores">
    <ion-label>Dois fatores </ion-label>
    <ion-icon slot="end" name="chevron-forward"></ion-icon>
  </ion-item>

  <h6 style="margin-left: 1em;">Notificções</h6>

  <ion-item button (click)="notfPreferencias()" routerLink="/preferencias">
    <ion-label>Preferências</ion-label>
    <ion-icon name="chevron-forward"></ion-icon>
  </ion-item>

  <ion-item button (click)="notfrequencia()" routerLink="/frequencia">
    <ion-label>Frequência</ion-label>
    <ion-icon name="chevron-forward"></ion-icon>
  </ion-item>

  <h6 style="margin-left: 1em;">Suporte</h6>

  <ion-item button (click)="supAjuda()" routerLink="/ajuda">
    <ion-label>Ajuda</ion-label>
    <ion-icon name="chevron-forward"></ion-icon>
  </ion-item>

  <ion-item button (click)="supFeedback()" routerLink="/feedback">
    <ion-label>Feedback</ion-label>
    <ion-icon name="chevron-forward"></ion-icon>
  </ion-item>

  <ion-item button (click)="supTermos()" routerLink="/termos-servicos">
    <ion-label>Termos de Serviço</ion-label>
    <ion-icon name="chevron-forward"></ion-icon>
  </ion-item>

  <ion-item button (click)="supPrivacidade()" routerLink="/privacidade">
    <ion-label>Privacidade</ion-label>
    <ion-icon name="chevron-forward"></ion-icon>
  </ion-item>

</ion-content>
