<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar placeholder="gabinete, notebooks..." #search class="barra-pesquisa"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- MESSAGEM QUE INDICA A FUNÇÃO DA PÁGINA --> 

    <img src="../../assets/src_file.svg" class="ilustra-pesquisa">

    <h3 class="titulo1">Procure pelo PC gamer dos seus sonhos</h3>

  <!-- DIV DE DADOS CASO O USUARIO PROCURE UM PRODUTO -->

    <!-- <div>


      <ion-item class="src-item" lines="none" button>
        <ion-thumbnail slot="start">
          <img src="../../assets/NOTEBOOK_1.png" />
        </ion-thumbnail>
        
        <ion-label>
          <h3 class="titulo-item">
            Notebook Gamer Legion 5i
          </h3> 

          <p class="ava-item">
            4.5
            <ion-icon name="star"></ion-icon>
          </p>

          <p class="preco-item">R$ 7.499,00</p>
        </ion-label>

      </ion-item>


    </div> -->

</ion-content>
