<ion-content>


  <h2 class="titulo1">
    Aponte a câmera do celular
    para esse QR-code.
  </h2>

  <p class="detalhes" (click)="myPopover()">
    <ion-icon name="information-circle"></ion-icon>
    <span>
      Detalhes do pedido
    </span>
  </p>

  <img class="qr no-centro-dentro" src="../../../assets/QR-code PIX 2.png">

  <button (click)="myLoading()">
    COPIAR
  </button>

  <b class="voltar-inicio no-centro-dentro" routerLink="/tabs/tab1/inicio">
    voltar para o inicio
  </b>

  
  
  
  <!-- POPOVER PEDIDO -->
  
  <ion-popover [isOpen]="isOpen" (didDismiss)="myPopover()">
    <ng-template>
      <ion-content>


        <p class="link-alterar" routerLink="/carrinho">
          <ion-icon name="create-outline"></ion-icon>
          <span>
            Alterar pedido
          </span>
        </p>


        <ion-item class="item-detalhes" button>
          <ion-thumbnail slot="start" routerLink="/tabs/tab1/produto">
            <img src="../../../assets/NOTEBOOK_1.png" />
          </ion-thumbnail>

          <ion-label>
            <h3 routerLink="/tabs/tab1/produto"> 
              Notebook Gamer 
            </h3>
            <p class="preco-item"> R$ 7.499,00 </p>
          </ion-label>
      
          <h2 slot="end">
            1
          </h2>
        </ion-item>


        <ion-item class="item-detalhes" button>
          <ion-thumbnail slot="start" routerLink="/tabs/tab1/produto">
            <img src="../../../assets/CAIXA_DE_SOM_1.png" />
          </ion-thumbnail>

          <ion-label>
            <h3 routerLink="/tabs/tab1/produto"> 
              Caixa de som
            </h3>
            <p class="preco-item"> R$ 338,99 </p>
          </ion-label>
      
          <h2 slot="end">
            2
          </h2>
        </ion-item>

      </ion-content>
    </ng-template>
  </ion-popover>

</ion-content>
