<ion-split-pane contentId="menu-content">
    <ion-menu contentId="menu-content" menuId="ft" side="start">
      <ion-header>
        <ion-toolbar>
          <ion-title>Categorias</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
  
          <ion-menu-toggle auto-hide="false" menu="ft">
            <ion-item (click)="procutoCategoria('Gabinetes')"
            button class="item-menu" lines="none">
              Gabinetes
            </ion-item>

            <ion-item (click)="procutoCategoria('Munitor')"
            button class="item-menu" lines="none">
              Munitores
            </ion-item>
  
            <ion-item (click)="procutoCategoria('Notebooks')"
            button class="item-menu" lines="none">
              Notebooks
            </ion-item>
  
            <ion-item (click)="procutoCategoria('Placas de Video')"
            button class="item-menu" lines="none">
              Placas de Video
            </ion-item>
  
            <ion-item (click)="procutoCategoria('Headsets')"
            button class="item-menu" lines="none">
              Headsets
            </ion-item>
  
            <ion-item (click)="procutoCategoria('Teclados')"
            button class="item-menu" lines="none">
              Teclados
            </ion-item>
  
            <ion-item (click)="procutoCategoria('Caixas de Som')"
            button class="item-menu" lines="none">
              Caixas de Som
            </ion-item>
  
            <ion-item (click)="procutoCategoria('Mouses')"
            button class="item-menu" lines="none">
              Mouses
            </ion-item>
  
            <ion-item (click)="procutoCategoria('Web cam')"
            button class="item-menu" lines="none">
              Web cam
            </ion-item>
            
          </ion-menu-toggle>
        
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="menu-content"></ion-router-outlet>
  </ion-split-pane>

  
