<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ajuda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="w-82 no-centro-dentro">
    <ion-accordion-group>

      <ion-accordion>
  
        <ion-item slot="header" value="Inicio" toggle-icon="caret-down">
          <ion-label>Inicio</ion-label>
        </ion-item>
  
        <div slot="content">
          <p>
            Lorem ipsum dolor sit amet. Vel voluptatum impedit ut reprehenderit magni hic aliquid molestias ut rerum quidem sit quas voluptatibus et quia voluptatem. Vel enim nisi id voluptas incidunt eum quam recusandae ex sunt minus eos tenetur voluptas et voluptatem voluptates ut unde quasi! Eos tempora rerum et modi iste et quaerat quasi et galisum tempore.
          </p>
  
          <p>
            Aut cumque explicabo vel tempore voluptatum a veniam galisum ab sapiente incidunt qui ipsa repellat et odio perspiciatis At consectetur voluptate. Et molestias Quis est libero earum eum nihil nostrum.
          </p>
        </div>
  
      </ion-accordion>


      <ion-accordion>
  
        <ion-item slot="header" value="Pesquisar" toggle-icon="caret-down">
          <ion-label>Pesquisar</ion-label>
        </ion-item>
  
        <div slot="content">
          <p>
            Lorem ipsum dolor sit amet. Vel voluptatum impedit ut reprehenderit magni hic aliquid molestias ut rerum quidem sit quas voluptatibus et quia voluptatem. Vel enim nisi id voluptas incidunt eum quam recusandae ex sunt minus eos tenetur voluptas et voluptatem voluptates ut unde quasi! Eos tempora rerum et modi iste et quaerat quasi et galisum tempore.
          </p>
  
          <p>
            Aut cumque explicabo vel tempore voluptatum a veniam galisum ab sapiente incidunt qui ipsa repellat et odio perspiciatis At consectetur voluptate. Et molestias Quis est libero earum eum nihil nostrum.
          </p>
        </div>
  
      </ion-accordion>


      <ion-accordion>
  
        <ion-item slot="header" value="Compras" toggle-icon="caret-down">
          <ion-label>Compras</ion-label>
        </ion-item>
  
        <div slot="content">
          <p>
            Lorem ipsum dolor sit amet. Vel voluptatum impedit ut reprehenderit magni hic aliquid molestias ut rerum quidem sit quas voluptatibus et quia voluptatem. Vel enim nisi id voluptas incidunt eum quam recusandae ex sunt minus eos tenetur voluptas et voluptatem voluptates ut unde quasi! Eos tempora rerum et modi iste et quaerat quasi et galisum tempore.
          </p>
  
          <p>
            Aut cumque explicabo vel tempore voluptatum a veniam galisum ab sapiente incidunt qui ipsa repellat et odio perspiciatis At consectetur voluptate. Et molestias Quis est libero earum eum nihil nostrum.
          </p>
        </div>
  
      </ion-accordion>


      <ion-accordion>
  
        <ion-item slot="header" value="Conta" toggle-icon="caret-down">
          <ion-label>Conta</ion-label>
        </ion-item>
  
        <div slot="content">
          <p>
            Lorem ipsum dolor sit amet. Vel voluptatum impedit ut reprehenderit magni hic aliquid molestias ut rerum quidem sit quas voluptatibus et quia voluptatem. Vel enim nisi id voluptas incidunt eum quam recusandae ex sunt minus eos tenetur voluptas et voluptatem voluptates ut unde quasi! Eos tempora rerum et modi iste et quaerat quasi et galisum tempore.
          </p>
  
          <p>
            Aut cumque explicabo vel tempore voluptatum a veniam galisum ab sapiente incidunt qui ipsa repellat et odio perspiciatis At consectetur voluptate. Et molestias Quis est libero earum eum nihil nostrum.
          </p>
        </div>
  
      </ion-accordion>
    </ion-accordion-group>
  </div>
  


</ion-content>
