<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Pagamento</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>


  <img class="img-ilustra no-centro-dentro" src="../../../assets/pay.png">

  <!-- BOTAR PIX DE UM BANCO QUANQUER -->
  <!-- <ion-item (click)="alerta('pix')"
  button>
    <ion-img src="../../../assets/PIX ICON 1.png" slot="start"></ion-img>
    <ion-label>Pix (não pega)</ion-label>
  </ion-item> -->

  <ion-item (click)="alerta('cartão')"
  button>
    <ion-icon slot="start" name="card"></ion-icon>
    <ion-label>Cartão de crédito</ion-label>
  </ion-item>

  <ion-item (click)="alerta('boleto')"
  button>
    <ion-icon slot="start" name="document-text"></ion-icon>
    <ion-label>Boleto</ion-label>
  </ion-item>
</ion-content>
