<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Lista de desejos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="checkLogin == 'true'">

    <ion-item *ngFor="let d of desejos"
    class="item-desejo">
      <ion-thumbnail slot="start">
        <img src="{{ d.link_imagem }}"  />
      </ion-thumbnail>
      <ion-label>
        <h3 (click)="produtoPage(d.id_produto)"> 
          {{ d.nome_produto }}
        </h3>
        <p class="ava-item"> 
          {{ d.media_estrelas }} <ion-icon name="star"></ion-icon> 
        </p>
        <p class="preco-item"> {{ d.preco_produto }} </p>
      </ion-label>
  
      <ion-button (click)="toastRemoveItem(d.id_produto)"
      expand="small" shape="round" fill="clear" slot="end" class="close_button">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-item>

  </div>

  

  <!-- VAZIO -->
  <div *ngIf="checkLogin == '' || !desejos[0]">

    <img class="svg_compras no-centro-dentro" src="../../../assets/SVG_COMPRAS.png" alt="">

    <h2 class="titulo1">
      Sua lista de desejos está vazia
    </h2>

  </div>

</ion-content>
