ion-title
{
    text-align: left;
}
ion-content
{
    --padding-top: 20px;
}
.meu_produto
{
    margin-top: 0.5em;
    margin-bottom: 0em;
}

#map
{
    min-height: 100%;
    overflow: hidden;
    z-index: 50;
}


ion-item.location
{
    margin-top: 0.6em;
}
ion-item.estimativa
{
    margin-bottom: 0.6em;
}
ion-icon[name=location]
{
    color: var(--ion-color-verde1);
}