<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Rastrear Produto</ion-title>

  </ion-toolbar>

  <ion-item class="meu_produto">
    <ion-thumbnail slot="start">
      <img src="../../../assets/pc-1.png" />
    </ion-thumbnail>
    <ion-text>
      Nome de produto - RTX 9080, 64 RAM, celeron 2000R7
    </ion-text>
  </ion-item>

</ion-header>


<ion-content>
  <ion-item class="location">
    <ion-icon name="location" slot="start"></ion-icon>
    <ion-text>
      Estrada do Côco, Lauro de Freitas - BA, 42700-000
    </ion-text>
  </ion-item>

  <ion-item class="estimativa">
    <img src="../../../assets/truck 2.svg" slot="start">
    <ion-label>
      2 horas para chegar.
    </ion-label>
  </ion-item>
</ion-content>
