html, body{
    height: 100%;
    width: 100vw;
}
body {
    padding: 0;
    margin: 0;
}
ion-title
{
    text-align: left;
}
ion-content
{
    // height: 100%;
    // width: 100%;
}
.meu_produto
{
    margin-top: 0.5em;
    margin-bottom: 0em;
}


ion-item.location
{
    margin-top: 0.6em;
}
ion-item.estimativa
{
    margin-bottom: 0.6em;
}
ion-icon[name=location]
{
    color: var(--ion-color-verde1);
}