<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-searchbar [(ngModel)]="inputEnviarPesquisa" (keyup)="pesquisarProduto($event)"
    placeholder="gabinete, notebooks..." #search class="barra-pesquisa"></ion-searchbar>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- MESSAGEM QUE INDICA A FUNÇÃO DA PÁGINA --> 

  <div *ngIf="!pesquisa[0]">
    
    <img src="../../assets/src_file.svg" class="ilustra-pesquisa">

    <h3 class="titulo1">Procure pelo PC gamer dos seus sonhos</h3>

  </div>
    
  

  <!-- DIV DE DADOS CASO O USUARIO PROCURE UM PRODUTO -->

    <div *ngIf="pesquisa[0]">

      <div *ngFor="let p of pesquisa">
        <ion-item  (click)="navProduto(p.id)"
        class="src-item" lines="none" button>
          <ion-thumbnail slot="start">
            <img src="{{ p.link_imagem }}" />
          </ion-thumbnail>
          
          <ion-label>
            <h3 class="titulo-item">
              {{ p.nome_produto }}
            </h3> 

            <p class="ava-item">
              {{ p.media_estrelas }}
              <ion-icon name="star"></ion-icon>
            </p>

            <p class="preco-item">
              {{ p.preco_produto }}
            </p>
          </ion-label>

        </ion-item>
      </div>
      


    </div>

    
</ion-content>