<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Senha</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>


  <!-- SENHA -->
    <input id="password" class="mb-30" type="password" 
    placeholder="Senha" autocomplete="false"
    maxlength="200" minlength="8"
    [(ngModel)]="formRegister.password"  (keyup)="inputLen($event)" 
    />  
  
  <!-- CONFIRMAR SENHA -->
    <input id="confirmPassword" class="mb-30" type="password" 
    placeholder="Confirmar senha" autocomplete="false"
    maxlength="200" minlength="8" 
    [(ngModel)]="formRegister.confirmPassword" (keyup)="inputLen($event)"
    /> 

  <div class="box-button">
    <button (click)="sendPassword()">
      Alterar
    </button>
  </div>


</ion-content>
