ion-title
{
    text-align: left;
}
ion-content
{
    --padding-top: 10px;
}
input, select
{
    width: 100%;
    margin-bottom: 1.4em;
}
ion-row
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    margin-top: 2em;
    width: 82%;
}
.parcelado
{
    width: 82%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;

    font-size: 14px;
    color: var(--ion-color-verde0);
}
.btn_nav_cadastro
{
    --background: transparent;
}
.voltar-inicio
{
    margin-bottom: 3em;
    margin-top: 2em;
}
button
{
    width: 82%;
}
.detalhes
{
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: var(--ion-color-cinza1);
    cursor: pointer;
}
.valor_total_detalhes
{
    width: 82%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    font-size: 18px;
    color: var(--ion-color-branco1);
}
.close_pop
{
    color: var(--ion-color-cinza1);
}
ion-icon
{
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size: 14px;
    margin-right: 0.6em;
    vertical-align: middle;
}
span
{
    display: inline-block;
    vertical-align: middle;
}

// POPOVER PEDIDO
p.link-alterar
{
    margin-left: 1em;
    margin-bottom: 2.5em;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: var(--ion-color-cinza1);
    cursor: pointer;
}
p.link-alterar ion-icon
{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
p.link-alterar span
{
    vertical-align: middle;
}
h3
{
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
}
p.preco-item
{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: var(--ion-color-verde0);
}