<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>
      Cartão
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p class="detalhes" (click)="myPopover()">
    <ion-icon name="information-circle"></ion-icon>
    <span>
      Detalhes do pedido
    </span>
  </p>

  <ion-row>

    <ion-col size="12">
      <input [(ngModel)]="creditCard.name"
      maxlength="100"
      type="text" placeholder="Nome">
    </ion-col>

    <ion-col size="12">
      <input [(ngModel)]="creditCard.num"
      (blur)="getCreditCardBrand()"
      maxlength="16"
      type="text" placeholder="Número do cartão" inputmode="numeric"
      class="numero_cartao">
    </ion-col>

    <ion-col size="6">
      <input [(ngModel)]="creditCard.cvv"
      maxlength="3"
      type="text" placeholder="Código" inputmode="numeric">
    </ion-col>

    <ion-col size="3">
      <input [(ngModel)]="creditCard.monthExp"
      maxlength="2"
      type="text" placeholder="Mês ex:08" inputmode="numeric">
    </ion-col>

    <ion-col size="3">
      <input [(ngModel)]="creditCard.yearExp"
      maxlength="4"
      type="text" placeholder="Ano ex:2080" inputmode="numeric">
    </ion-col>

    <ion-col size="12">
      <select
      [(ngModel)]="installments"
      (change)="getInstallmentsCompra()"
      maxlength="2"
      type="text" placeholder="Pacelas" inputmode="numeric"
      >
        <option value="1">1 vezes</option>
        <option value="2">2 vezes</option>
        <option value="3">3 vezes</option>
        <option value="4">4 vezes</option>
        <option value="5">5 vezes</option>
        <option value="6">6 vezes</option>
        <option value="7">8 vezes</option>
        <option value="8">8 vezes</option>
        <option value="9">9 vezes</option>
        <option value="10">10 vezes</option>
        <option value="11">11 vezes</option>
        <option value="12">12 vezes</option>
      </select>
    </ion-col>

  </ion-row>

  <p *ngIf="valorPorParcela" class="parcelado">
    {{ installments }} vezes de {{ valorPorParcela }}
  </p>


  <button (click)="paymentCreditCart()">
    Confirmar
  </button>


  <b class="voltar-inicio no-centro-dentro" routerLink="/tabs/tab1/inicio">
    voltar para o inicio
  </b>



  
  <!-- POPOVER -->
  
  <ion-popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
    <ng-template>
      <ion-content>
        <!-- <p (click)="alterarCarrinho()"
        class="link-alterar">
          <ion-icon name="create-outline"></ion-icon>
          <span>
            Alterar pedido
          </span>
        </p> -->


        <ion-item class="item-detalhes" button>
          <ion-thumbnail slot="start">
            <img src="../../../assets/NOTEBOOK_1.png" />
          </ion-thumbnail>

          <ion-label>
            <h3> 
              Notebook Gamer 
            </h3>
            <p class="preco-item"> R$ 7.499,00 </p>
          </ion-label>
      
          <h2 slot="end">
            1
          </h2>
        </ion-item>


        <ion-item class="item-detalhes" button>
          <ion-thumbnail slot="start">
            <img src="../../../assets/CAIXA_DE_SOM_1.png" />
          </ion-thumbnail>

          <ion-label>
            <h3> 
              Caixa de som
            </h3>
            <p class="preco-item"> R$ 338,99 </p>
          </ion-label>
      
          <h2 slot="end">
            2
          </h2>
        </ion-item>

      </ion-content>
    </ng-template>
  </ion-popover>


</ion-content>
