<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>E-mail</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- E-MAIL -->
    <input id="email" class="mb-30" type="email" 
    placeholder="E-mail" autocomplete="false"
    maxlength="120"
    [(ngModel)]="formRegister.email" 
    />  

  <div class="box-button">
    <button (click)="sendEmail()">
      Alterar
    </button>
  </div>

</ion-content>
