ion-title
{
    text-align: left;
}
.form-cadastro
{
    margin-top: 3em;
}
.separar-area
{
    margin-top: 4em;
}
ion-content
{
    --padding-bottom: 2em;
}
input
{
    width: 100%;
}
ion-row
{
    margin-left: auto;
    margin-right: auto;
    width: 82%;
}
.btn_nav_cadastro
{
    --background: transparent;
}