<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Cadastre-se na SPERENET</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--  FORMULÁRIO -->
  <div class="form-cadastro">
    
      <ion-row>


      <!-- NOME E SOBRE NOME -->
      <ion-col size="12">
        <input id="nome_usuario" class="mb-30" type="text" 
        placeholder="Nome" 
        maxlength="120" minlength="10"
        [(ngModel)]="formRegister.nome_usuario" (keyup)="inputLen($event)" 
        />  
      </ion-col>

      <!-- TELEFONE -->
      <ion-col size="12">
        <input id="telefone" class="mb-30" type="text" 
        placeholder="Telefone" inputmode="numeric"
        maxlength="16" minlength="9"
        [(ngModel)]="formRegister.telefone" (keyup)="inputLen($event)" 
        />  
      </ion-col>

      <!-- CPF -->
      <ion-col size="12">
        <input id="cpf" class="mb-30" type="text" 
        placeholder="CPF" inputmode="numeric"
        maxlength="14" minlength="11"
        [(ngModel)]="formRegister.cpf" (keyup)="inputLen($event)" 
        />  
      </ion-col>

      <!-- DATA DE NASCIMENTO -->
      <ion-col size="12">
        <input id="nascimento" class="mb-30" type="date" 
        placeholder="Data de nascimento" inputmode="numeric"
        [max]="dataMaxima" minlength="10"
        [(ngModel)]="formRegister.nascimento" (keyup)="inputLen($event)" 
        />  
      </ion-col>

      <!-- E-MAIL -->
      <ion-col size="12">
        <input id="email" class="mb-30" type="email" 
        placeholder="E-mail" autocomplete="false"
        maxlength="120"
        [(ngModel)]="formRegister.email" 
        />  
      </ion-col>

      <!-- SENHA -->
      <ion-col size="12">
        <input id="password" class="mb-30" type="password" 
        placeholder="Senha" autocomplete="false"
        maxlength="200" minlength="8"
        [(ngModel)]="formRegister.password"  (keyup)="inputLen($event)" 
        />  
      </ion-col>

      <!-- CONFIRMAR SENHA -->
      <ion-col size="12">
        <input id="confirmPassword" class="mb-30" type="password" 
        placeholder="Confirmar senha" autocomplete="false"
        maxlength="200" minlength="8" 
        [(ngModel)]="formRegister.confirmPassword" (keyup)="inputLen($event)"
        /> 
      </ion-col>


      <!-- ------------- ENDEREÇO ------------- -->
      <div class="separar-area"></div>


      <!-- CEP -->
      <ion-col size="5">
        <input id="cep" class="mb-30" type="text" placeholder="CEP" 
        inputmode="decimal" autocomplete="false"
        maxlength="9" minlength="8"
        [(ngModel)]="formRegister.cep" (blur)="getAndress()" (keyup)="inputLen($event)"
        />
      </ion-col>

      <!-- PAIS -->
      <ion-col size="7">
        <input id="pais" class="mb-30" type="text" 
        placeholder="País" autocomplete="false"
        maxlength="20" minlength="3"
        [(ngModel)]="formRegister.pais" (keyup)="inputLen($event)"
        /> 
      </ion-col>
      
      <!-- ESTADO -->
      <ion-col size="2">
        <input id="uf" class="mb-30 estado" type="text" 
        placeholder="UF" autocomplete="false"
        maxlength="2" minlength="2"
        [(ngModel)]="formRegister.uf" (keyup)="inputLen($event)"
        />  
      </ion-col>

      <!-- CIDADE -->
      <ion-col size="5">
        <input id="cidade" class="mb-30" type="text" 
        placeholder="Cidade" autocomplete="false"
        maxlength="40" minlength="4"
        [(ngModel)]="formRegister.cidade" (keyup)="inputLen($event)"
        />  
      </ion-col>

      <!-- BAIRRO -->
      <ion-col size="5">
        <input id="bairro" class="mb-30" type="text" 
        placeholder="Bairro" autocomplete="false"
        maxlength="40" minlength="3"
        [(ngModel)]="formRegister.bairro" (keyup)="inputLen($event)"
        /> 
      </ion-col>

      <!-- RUA -->
      <ion-col size="10">
        <input id="rua" class="mb-30" type="text" 
        placeholder="Rua" autocomplete="false"
        maxlength="40" minlength="3"
        [(ngModel)]="formRegister.rua" (keyup)="inputLen($event)"
        />
      </ion-col>

      <!-- NUMERO DA CASA -->
      <ion-col size="2">
        <input id="numero_casa" class="mb-30 numero_casa" 
        type="text" placeholder="Nº"
        autocomplete="false" inputmode="numeric"
        maxlength="5" minlength="1"
        [(ngModel)]="formRegister.numero" (keyup)="inputLen($event)"
        />  
      </ion-col>


      </ion-row>

  </div>


  <div class="div_h_center">
    <ion-row>

      <ion-col size="6">
        <div class="no-centro-dentro">
          <ion-button (click)="sendRegister()" class="btn_login">
            Confirmar
          </ion-button>
        </div>
      </ion-col>

      <ion-col size="6">
        <div class="no-centro-dentro">
          <ion-button routerLink="/login" class="btn_nav_cadastro" fill="clear">
            Login
          </ion-button>
        </div>
      </ion-col>

    </ion-row>
  </div>
</ion-content>
