<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Infomações gerais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <input type="text" value="Romíldo Santana do Sertão" 
  class="mb-30" #myfocus id="my_auto_focus">

  <input type="text" value="44044-999" class="mb-30">

  <input type="text" value="Brasil" class="mb-30">

  <input type="text" value="Bairro da Semana" class="mb-30">

  <input type="text" value="Rua da Paz" class="mb-30">

  <input type="text" value="722" class="mb-30">

  <div class="box-button">
    <button>
      Alterar
    </button>
  </div>
  

</ion-content>
